*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1b1c1d;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
